body{background:#000;}
a{text-decoration:none !important;}
img{max-width:100%;}
.main-wrapper{background:white;padding:0;}
/*.main-header-wrap{margin-top:51px;}navbar-fixed-top*/
.banner-wrap {position:relative; background:url('../images/tech-banner.jpg') no-repeat; padding:15px;}
.banner-wrap .motto-wrap{/*position:relative; top:15%; left:5%;*/ max-width: 245px;}
.banner-wrap .motto-wrap .motto{color:#ffffff; font-size:36px;margin:0;}
.content .page-section{min-height:400px; padding: 0 0 50px 0; position:relative;}
.navbar{margin-bottom:0;}
.headshot{max-width:100%;padding-bottom:15px;}
.greybg  {background: #e4e4e4;}
.bluebg  {background: #217786; color:white;}

.btn-default{position:absolute; left:15px; bottom: 15px;}

.footer{min-height: 50px;}
.footer-link-list {list-style:none; float:right; margin:0;}
.footer-link-list li{float:left; display: block; line-height: 20px;   position: relative; padding: 15px;}
.footer-link-list li a{}


.navbar-brand {height: auto;}
.navbar-toggle{margin:18px 15px 18px 0;}            
.navbar-default .navbar-nav>li>a{  padding: 25px 15px;}
/*.navbar-default .in .navbar-nav>li>a{  padding: 10px 15px;}*/

.RSCFrontEnd > p {min-height: 104px;}   
@media (max-width:991px){
    .banner-wrap .motto-wrap .motto{font-size:24px;}
    .main-wrapper {background: black; padding: 0 0px; }
}
@media (max-width:767px){
    .navbar .navbar-collapse{float:left !important;  width: 100%;}
    .headshot{max-height: 171px;}
    .navbar-default .navbar-nav>li>a{  padding: 10px 15px;}
}

@media (max-width:500px){
    .footer-link-list{padding:0;}
    .copyright{text-align: center;}

    .main-wrapper{}
}
@media (min-width:501px){

}