.clearfix{
	width:100%;
	display:block;
	clear:both;
}
body
{
	background: black;
	font-family: museo-slab;
}
.bounds{
	width:80%;
	margin: 0 auto;
	background: #cccccc;
	border:1px solid blue;
	border-radius:25px;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.header{
	position:relative;
	border-radius:25px 25px 0 0;
	background: url(img/banner.jpg);
}
.slogan{
	color:white;
	padding:0 2%;
}
.menu{
	position:absolute;
	bottom:0;
	right:0;
	width:100%;
}
.menu .nav_item{
	float:right;
	border-radius:25px;
	font-size:1.25em;
	padding: 0 2%;
	background:#5F9F9F;
}
.nav_item:hover
{
	background:#79CDCD;
	cursor:pointer;
}
.main{
    padding: 2% 0;
}
.main_about
{
	width: 71%;
	padding:0 2%;
}
.info_about
{
	width:21%;
	padding:0 2%;
}
.third{
	width:30%;
	height:140px;
	margin:1.5%;
	position:relative;
}
img{
	width:100%;
	display:block;
}
.third a, .nav_item a{
	text-decoration:none;
	color: black;
}
a div.description{
	color:black;
	text-align:center;
	position:absolute;
	bottom:0;
	width:100%;
	font: 500 18px/24px 'museo-slab';
}
.footer{
	height: 2em;
	line-height:2em;
	text-align:center;
	font-size:1.5em;
	border-top:1px solid blue;
}
#about{
	display:none
}

@media only screen and (max-width:1025px)
{
	.third
	{
    	width:45%;
    }
}

@media only screen and (max-width:769px)
{
	.third
	{
		width:90%;
    	float:none;
    	margin:5%;
    	height:auto;
    }    
	
    a div.description
	{
    	position:static;
		margin:2% 0;
    }
}
@media only screen and (max-width:421px){
	.footer{
		line-height:1em;
		font-size:1em;
	}
}